@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #f1f1ef;
  background-color: #252B32;
  margin: 0 0 250px;
}

/* headings */

h1,
h2 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f1f1ef
}

header {
  height: 150px;
  border-bottom: 1px solid #f1f1ef;
  background-color: #421E13;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#index-header {
  height: 150px;
  border-bottom: 1px solid #f1f1ef;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header-logo {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

@media screen and (max-width: 400px) {
  #header-logo {
    height: 100px;
    position: fixed;
    top: 20px;
  }
}

/* navigation links */

#header-nav-full {
  font-size: 150%;
  letter-spacing: 4px;
  float: right;
  padding-top: 40px;
}

#header-logo,
#header-nav-full,
#header-nav-small {
  line-height: 75px;
}

#header-nav-full li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

#header-nav-full a {
  text-decoration: none;
  color: inherit;
}

#header-nav-full a:hover {
  border-bottom: 1px solid #f1f1ef;
}

.active {
  border-bottom: 1px solid #f1f1ef;
}

#header-nav-small {
  font-size: 400%;
  padding-top: 40px;
  visibility: hidden;
  position: absolute;
  right: 40px;
}

@media screen and (max-width: 950px) {
  #header-nav-full {
    visibility: hidden;
  }

  #header-nav-small {
    visibility: visible;
  }
}

/* modal code example used - https://www.youtube.com/watch?v=8AUtM5lqUZM */

.modal {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  width: 40%;
  height: 50%;
  background-color: #f1f1ef;
  color: #252B32;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;

}

#modal:target {
  opacity: 1;
  visibility: visible;
}

#modal:target .modal-content {
  opacity: 1;
  visibility: visible;
}

.modal a {
  text-decoration: none;
  color: #252B32;
}

.modal a:active {
  text-decoration: underline;
}

.modal-close {
  color: #252B32;
  font-size: 2em;
  position: absolute;
  top: .5em;
  right: 1em;
}

.modal-content ul {
  list-style-type: none;
  text-transform: uppercase;
  color: #252B32;
  margin: 50px 60px;
  line-height: 6vh;
  position: relative;
  text-align: center;
  font-size: 200%;
}

@media screen and (max-width: 850px) {
  .modal-content {
    height: 35vh;
  }

  .modal-content ul {
    font-size: 150%;
  }
}

@media screen and (max-width: 750px) {
  .modal-content ul {
    font-size: 125%;
  }
}

@media screen and (max-width: 650px) {
  .modal-content {
    height: 30vh;
  }

  .modal-close {
    top: .2em
  }

  .modal-content ul {
    font-size: 100%;
    margin: 30px 60px;
  }
}

@media screen and (max-width: 550px) {
  .modal-content ul {
    font-size: 85%;
    margin: 30px 0;
  }

  .modal-close {
    right: .3em;
  }

}

.modal-open {
  display: inline-block;
  text-decoration: none;
  color: #f1f1ef;
}

/* hero image */

#hero-outer {
  height: 950px;
  width: 100%;
  /* margin-top: -150px; */
  position: relative;
  z-index: 1;
}

#hero-image {
  height: 950px;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center;
}

#tagline {
  font-size: 130%;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 150px;

  position: absolute;
  bottom: 200px;
  right: 150px;

  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 450px) {
  #tagline {
    left: 0;
  }
}

#tagline h2,
h3 {
  text-align: center;
  color: #f1f1ef;
  font-family: Montserrat, sans-serif;
}

#tagline hr {
  background-color: #f1f1ef;
  height: 1px;
  width: 80%;
  margin: 2px auto;
}

#tagline h2 {
  font-family: Roboto, sans-serif;
  margin-top: 25px;
}

#chevron {
  font-size: 350%;
  position: absolute;
  left: 50%;
  bottom: 40px;
  color: #f1f1ef;

  /* animates the bobbing effect for the chevron*/
  animation-name: chevron-bob;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* creates the bobbing animation for the chevron */
@keyframes chevron-bob {
  from {
    bottom: 40px;
  }

  to {
    bottom: 30px;
  }
}

/* about section */

#about {
  height: auto;
  max-width: 60%;
  margin: 50px auto;
  overflow: auto;
}

#about h2 {
  font-size: 200%;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

#about p {
  line-height: 30px;
  margin-bottom: 5px;
  padding: 0 10px;
}

#about hr {
  width: 100%;
  height: 1px;
  background-color: #f1f1ef;
  margin: 10px 0;
}

/* gallery section of index page */

#photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 10px;
  width: 60%;
  height: auto;
  margin: 50px auto 0;
}

#photos>img {
  width: 100%;
  height: 45%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
  #photos {
    column-count: 2;
  }
}

@media screen and (max-width: 750px) {
  #photos {
    column-count: 1;
  }

  .extra-photo {
    display: none;
  }
}

/* footer */

footer {
  height: 250px;
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: #421E13;
  left: 0;
  bottom: 0;
}

footer div {
  width: 33%;
  margin: 0 auto;
}

footer h2, footer p {
  margin-bottom: 10px;
}

.footer-item {
  width: 33%;
  margin: 50px auto 0;
  display: inline-block;
}

#footer-outer {
  height: 250px;
  width: 65%;
  background-color: #421E13;
}

#footer-contact {
  float: left;
}

#footer-logo {
  float: right;
  margin-top: 40px;
}

.social-media {
  font-size: 180%;
}

.social-media li {
  display: inline;
  list-style-type: none;
  color: #f1f1ef;
}

.social-media a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 750px) {
  #footer-outer {
    height: 650px;
    background-color: #421E13;
    width: 100%;
  }

  .footer-item {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }
}

/* contact page */

#contact-text {
  padding: 50px 33%;
  text-align: left;
  line-height: 30px;
}

.page-header {
  text-align: center;
  font-size: 200%;
  margin-top: 150px;
  text-align: center;
}

#contact-text h3 {
  margin: 10px 0;
  text-align: left;
  font-size: 150%;
}

#contact-text p {
  margin-bottom: 10px;
}

.covid {
  text-transform: uppercase;
}

#iframe {
  /* https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

@media screen and (max-width: 900px) {
  #contact-text {
    padding: 50px 15%;
  }
}

/* menu page */

#menu-content {
  padding: 50px 0 5px;
}

#menu-select-container {
  width: 40%;
  margin: 30px auto 0;
  height: 50px;
}

.menu-select {
  display: inline-block;
  left: 30%;
  width: 24%;
  padding-top: 20px;
  height: inherit;
}

.menu-select a {
  text-decoration: none;
}

.menu-select:hover {
  background-color: #421E13;
}

.menu-select:active {
  background-color: #421E13;
}

.menu {
  background-color: #f1f1ef;
  color: #252B32;
  height: auto;
  width: 35%;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
}

.menu>h3 {
  color: #252B32;
  text-decoration: underline;
  margin-bottom: 10px;
}

.menu p {
  line-height: 20px;
  margin: 0 80px 10px;
}

#main-menu {
  display: none;
}

#dessert {
  display: none;
}

#wine {
  display: none;
}

#wine h4 {
  text-decoration: underline;
  margin-bottom: 5px;
}

#wine p {
  margin: 0 10px 15px;
}

#early-bird {
  display: none;
}

/* Display corresponding menu when only when it's being targeted */

#main-menu:target {
  display: block;
}

#dessert:target {
  display: block;
}

#wine:target {
  display: block;
}

#early-bird:target {
  display: block;
}
@media screen and (max-width: 950px) {
  .menu {
    width: 60%;
  }

  .menu p {
    margin: 0 auto;
  }

  #menu-select-container {
    height: auto;
  }

  .menu-select {
    padding: 10px 25px;
    justify-content: center;
    margin: 0 auto;
  }
}

/* Forms */

#voucher-header {
  margin: 175px 0 20px;
}

#voucher-form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

form h3, form h4 {
  text-align: left;
  margin: 20px auto 5px;
  padding-left: 20%;
  font-size: 110%;
}

input {
  padding: 10px;
  width: 57%;
  background-color: #f1f1ef;
  color: #252B32;
  font-size: 110%;
}

select {
  padding: 5px;
  width: 60%;
  background-color: #f1f1ef;
  color: #252B32;
  font-size: 150%;
}

textarea {
  padding: 10px;
  width: 57%;
  background-color: #f1f1ef;
  color: #252B32;
  font-size: 110%;
  font-family: Roboto-light, sans-serif;
}

input[type=submit] {
  padding: 5px;
  width: 60%;
  background-color: #421E13;
  color: #f1f1ef;
  font-size: 150%;
  margin: 30px auto 20px;
}

#voucher-info {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* https://webaim.org/techniques/css/invisiblecontent/ */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#reserve-header {
  padding: 20px 0 20px;
}

#reserve-form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.col-3 {
  width: 26%;
  margin: 5px;
}

.col-2 {
  width: 40%;
  margin: 5px;
}

form hr {
 border-top: 1px solid #f1f1ef;
 margin: 10px auto;
 width: 90%;
}

#patrons {
  vertical-align: sub;
}

legend {
  font-size: 150%;
  text-align: left;
  margin-left: 1em;
}

#ccn {
  width: 86%;
}

h5 {
  margin: 0 auto 10px;
  font-size: 75%;
}

/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h5 a {
  color: #f1f1ef;
}

#cvc {
  vertical-align: middle;
}

#mail-label {
  float: right;
  margin-right: 40%;
}

#mailing {
  float: left;
  margin-left: 45px;
  width: auto;
}

#note {
  background-color: #f1f1ef;
  margin: -5px auto 10px;
  width: 90%;
  color: #252B32;
  font-size: 90%;
  padding-bottom: 5px;
}

#note h3 {
  color: #252B32;
  margin-left: -70px;
  padding-top: 5px;
}

#cancel {
  background-color: #f1f1ef;
  width: 40%;
  height: 50%;
  color: #252B32;
  margin: 20% auto;
  padding: 10px;
  text-align: left;
}

#cancel p {
  margin: 1vh;
  font-size: larger;
}

@media screen and (max-width: 900px) {
  #voucher-form {
    width: 85%;
  }

  input {
    font-size: 90%;
  }

  textarea {
    font-size: 90%;
  }
}