@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #f1f1ef;
  background-color: #252B32;
}

/* headings */

h1, h2 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f1f1ef
}

header {
  height: 150px;
  border-bottom: 1px solid #f1f1ef;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header-logo {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

/* navigation links */

#header-nav {
  font-size: 150%;
  letter-spacing: 4px;
  float: right;
  padding-top: 40px;
}

#header-logo, #header-nav {
  line-height: 75px;
}

#header-nav li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

#header-nav a {
  text-decoration: none;
  color: inherit;
}

#header-nav a:hover {
  border-bottom: 1px solid #f1f1ef;
}

/* hero image */

#hero-outer {
  height: 950px;
  width: 100%;
  /* margin-top: -150px; */
  position: relative;
  z-index: 1;
}

#hero-image {
  height: 950px;
  width: 100%;
  background: url("../images/hero-image.jpg") no-repeat center center;
}

#tagline {
  font-size: 130%;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 150px;

  position: absolute;
  bottom: 200px;
  right: 150px;

  background-color: rgba(0, 0, 0, 0.7);
}

#tagline h2, h3 {
  text-align: center;
  color: #f1f1ef;
}

#tagline h2 {
  text-align: center;
  margin-top: 25px;
}

#chevron {
  font-size: 350%;
  position: absolute;
  left: 50%;
  bottom: 40px;
  color: #f1f1ef;

  /* animates the bobbing effect for the chevron */
  animation-name: chevron-bob;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* creates the bobbing animation for the chevron */
@keyframes chevron-bob {
  from{
    bottom: 40px;
  }
  to{
    bottom: 30px;
  }
}

/* about section */

#about {
  height: 300px;
  width: 50%;
  margin: 50px auto;
}

#about h2 {
  font-size: 200%;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

#about p {
  line-height: 30px;
  margin-bottom: 5px;
}

hr {
  width: 110%;
  height: 1px;
  background-color: #f1f1ef;
  margin: 10px 0;
  position: relative;
  left: -5%;
}